# Node modules
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Expo files
.expo/
.expo-shared/

# Environment files
.env
*.env

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# macOS system files
.DS_Store

# Bundler cache
.expo/web/cache/
